.footer {
  background-color: rgb(35, 47, 62);
  color: rgba(255, 255, 255, 0.719);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  height:fit-content;
}
.backtotop {
  background-color: rgb(55, 71, 90);
  color: white;
  border: 1px solid black;
  width: 100%;
  text-align: center;
  height: 70px;
  cursor: pointer;

}
.backtotop:hover{
    background-color: rgb(74, 90, 109) ;
}
.footer-links {
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  padding: 2em;
}
.footer-links > ul > li {
  list-style: none;
  font-weight: 200;
  font-size: 15px;
  padding: 5px;
}
.footer-links>ul>li>strong{
    font-size: large;
}
.footer-end{
    background-color: #131a22;
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    font-weight: 200;
    font-size: 15px;
    padding: 5px;
    align-items: center;

}
.footer-end>p{
    padding: 1em;
}